<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for :fixture, url: head_to_head_fixtures_path, method: :get do |f| %>
        <div class="d-flex justify-content-center align-items-center">
          <%= f.input :team_one_id,
                      as: :select,
                      collection: @teams.map { |t| [t.name, t.id] },
                      input_html: { class: 'form-select' },
                      wrapper_html: { class: 'flex-grow-1 pe-3' },
                      label: 'Time 1' %>

          <%= f.input :team_two_id,
                      as: :select,
                      collection: @teams.map { |t| [t.name, t.id] },
                      input_html: { class: 'form-select' },
                      wrapper_html: { class: 'flex-grow-1 ps-3' },
                      label: 'Time 2' %>
        </div>
        <div>
          <%= f.submit "Comparar", class: "btn btn-primary mt-3 w-100" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 mt-5">
      <div class="card p-4">
        <%= turbo_stream_from :head_to_head %>
        <%= turbo_frame_tag :head_to_head do %>
          <div></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
